.dash-row {
    position: relative;
    height: calc((100% - 70px) / 2);
    max-height: calc((100% - 70px) / 2);
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}
.chart-entradas{
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.133) 0.6px 1.6px 6.6px 2px, rgba(0, 0, 0, 0.11) 1px 0.3px 17px 0.1px;
    border-radius: 4pt;
}
.chart-faturamento{
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.133) 0.6px 1.6px 6.6px 2px, rgba(0, 0, 0, 0.11) 1px 0.3px 17px 0.1px;
    border-radius: 4pt;
}
.dash-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 45%;
    height: 100%;
    justify-content: center;
    position: relative;
}

