.fundoVidro {
    backdrop-filter: blur(1px);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000027;
}

form.form-generic {
    position: fixed;
    z-index: 2;
    width: 40vw;
    max-width: 40vw;
    max-height: 80vh;
    top: 50vh;
    left: 30vw;
    background-color: #fff;
    padding: 15px;
    border-radius: 5pt;
    animation: fadeinForm 0.1s forwards;
}

form.form-generic fieldset {border: 0;}

form.form-generic .icon_error {
    color: red;
    transform: scale(1.5);
    position: absolute;
    right: 0px;
    top: 14pt;
}

form.form-generic .icon_error svg {
    width: 22px;
    height: 22px;
}

form.form-generic .fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

form.form-generic .rodape-form {
    margin-top: 20pt;
    text-align: end;
}

form.form-generic fieldset legend {
    font-size: 16pt;
    font-weight: 700;
    margin-bottom: 15pt;
}

form.form-generic .rodape-form input[type=submit] {
    padding: 5pt 20pt;
    background: transparent;
    border: 2px #4c4ccc solid;
    border-radius: 4pt;
    color: #4c4ccc;
}

form.form-generic .rodape-form input[type=submit]:hover {
    background: #4c4ccc;
    color: white;
    cursor: pointer;
}

form.form-generic .Field {
    position: relative;
    min-width: 220px;
    width: 220px;
    margin-top: 5pt;
    overflow: hidden;
}

form.form-generic .Field input, .Field select {
    font-size: 14pt;
    padding: 14pt 10px 10px 5px;
    display: block;
    width: calc(100% - 15px);
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}

form.form-generic .Field input:focus, .Field select:focus {
    outline: none;
}

form.form-generic .Field label {
    color: #999;
    font-size: 14pt;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 14pt;
    display: flex;
}

form.form-generic .Field input:focus ~ label,
form.form-generic .Field input:valid ~ label,
form.form-generic .Field select:focus ~ label,
form.form-generic .Field select:valid ~ label {
    transform: translateY(-15pt);
    font-size: 11pt;
    color: #0032ff;
}

form.form-generic .Field .bar {
    position: relative;
    display: block;
    width: 100%;
}

form.form-generic .Field .bar:before, form.form-generic .Field .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #0032ff;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

form.form-generic .Field .bar:before {
    left: 50%;
}

form.form-generic .Field .bar:after {
    right: 50%;
}

form.form-generic .Field input:focus ~ .bar:before,
form.form-generic .Field input:focus ~ .bar:after,
form.form-generic .Field select:focus ~ .bar:before,
form.form-generic .Field select:focus ~ .bar:after {
    width: 50%;
}

form.form-generic .Field select {
    outline: none;
    border-radius: 0;
    border: 2px white solid;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}

@-webkit-keyframes fadeinForm {
    from {
        top: 50vh;
        opacity: 0;
    }

    to {
        transform: translateY(-50%);
        opacity: 1;
    }
}

@keyframes fadeinForm {
    from {
        top: 50vh;
        opacity: 0;
    }

    to {
        transform: translateY(-50%);
        opacity: 1;
    }
}