{% extends "base.html" %}
{% load static %}

{% block filesStatics %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<script defer type="text/javascript" src= "{% static 'js/login.js' %}"></script>
{% endblock %}

{% block main %}
<input id="btn_open_login" type="button" value="entrar">
<header>
    <h1 class="title">MANCAPARK</h1>
</header>
<section>
    <p>
        Bem-vindo ao meu inovador aplicativo web de portifólio para gerenciamento de estacionamento de veículos!'</p>
    <p>
        Neste aplicativo web, você terá acesso a uma poderosa ferramenta que permite cadastrar clientes e veículos com facilidade. 
        Com apenas alguns cliques, é possível adicionar informações detalhadas sobre os clientes, incluindo seus dados de contato e preferências específicas. 
        Além disso, você poderá cadastrar os veículos, inserindo informações como marca, modelo e placa, para manter um registro completo e organizado.
    </p>
    <p>
        Desenvolvido por <a href="https://br.linkedin.com/in/thalesvargas96/">Thales Vargas</a>!
    </p>
</section>
<main class="hidden-mobile">
    <form method="post">
        <h2>{{ 'Por Favor faça seu login!' }}</h2>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for campo in form %}
            <p>
                {{ campo.errors }}
                {{ campo }}
                {{ campo.label_tag }}
                <i></i>
            </p>
        {% endfor %}
        <div>
            <input class="btn_login" type="submit" value="login">
            <input id="btn_cancelar" type="button" value="cancelar">
        </div>
    </form>
</main>

{% endblock %}